body {
  /* Old browsers */
  /* background: #ACF0DE*/
  background: #F4F4F4;
  /* Chrome 10-25, Safari 5.1-6 */
  /*background: -webkit-linear-gradient(-45deg, #C0DED7, #ACF0DE);*/
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /*background: linear-gradient(-45deg, #C0DED7, #ACF0DE);*/
  margin: auto;
  padding: 0;
}

/*.background {
    
    background: rgba(248, 247, 216, 0.7);
    position: relative;
}

.layer {
    background: rgba(248, 247, 216, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}*/

.heading {
	background-color: white;
	margin-top: 0px;
	padding-top: 10px;
}

.header-content {
	width: 1200px;
	margin: 0 auto;
}

.homebutton {
	outline: none;
	background-color: white;
	border: none;
	position: relative;
}

.search {
	margin: 0 auto;
	background-image: url('/css/searchicon.png');
	box-shadow:2px 2px 2px #9A9A9A;
	display: inline-block;
	padding-right: 0px;
}

.name {
	background-color: #ffff;
	padding-left: 15px;
	display: inline-block;
	font-family: sans-serif;
	letter-spacing: 0.05em;
	font-size: 35px;
	height: 60px;
	
}

.navbar {
	display: inline-block;
	align-items: center;
	margin: auto;
	padding-left: 20px;
	padding-right: 200px;
	padding-bottom: 20px;

}

.shop {
	outline: none;
	background: none;
	border: none;
	font-size: 20px;
	padding-right: 30px;
}

.shop a {
	color: black;
	text-decoration: none;
}

.about {
	outline: none;
	background: none;
	border: none;
	font-size: 20px;
	padding-right: 30px;
}

.contact {
	outline: none;
	background: none;
	border: none;
	font-size: 20px;
	padding-right: 30px;
}

.profilebar {
	display: inline-block;
	align-items: center;
	margin: auto;
	padding-left: 20px;
	padding-right: 150px;
}

.profile {
	outline: none;
	background: none;
	border: none;
	padding-right: 20px;
	margin: auto;
	display: inline-block;

}

.cart {
	outline: none;
	background: none;
	border: none;
	display: inline-block;
}

.category {
	font-family: sans-serif;
	font-size: 22px;
	padding-left: 250px;
	padding-top: 30px;
	padding-right: 450px;
	display: inline-block;
	width: 900px;
}

.results {
	font-family: sans-serif;
	color: gray;
	font-size: 15px;
	display: inline-block;
	width: 500px;
}

#sort {
	margin: 0 auto;
}

.page {
	font-family: sans-serif;
	font-size: 15px;
	display: inline-block;
	padding-left: 30px;
}

.page a {
	font-family: sans-serif;
	text-decoration: none;
	color: darkgray;
	font-weight: 200;
	font-size: 25px;
	display: inline-block;
}


.column {
	font-family: sans-serif;
	align-content: center;
	margin: 30px;
  flex: 50%;
  padding: 5px;
  display: inline-block;
}

/* Clearfix (clear floats) */
.row {
	align-content: center;
	margin: 30px;
	padding-left: 35px;
  display: flex;
}

.row2 {
	align-content: center;
	margin: 30px;
	padding-left: 30px;
  display: flex;
}

.productsection {
	display: inline-block;
}

.imgtext2 {
	display: inline-block;

}

/*.row2 {
	align-content: center;
	margin: 30px;
	padding-left: 220px;
  display: flex;
}

.column2 {
	align-content: center;
	margin: 30px;
	padding-left: 220px;
  display: flex;
}*/


#filter {
	display: inline-block;
	float: left;
	padding-top: 45px;
}

.type {
	font-family: sans-serif;
	font-size: 20px;
	list-style-type: none;
  padding-left: 20px;
  padding-top: 0px;
  margin: 0;
  width: 200px;
}

.type li a {
	font-family: sans-serif;
	 border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #ffff;
  padding: 10px;
  text-decoration: none;
  font-size: 15px;
  color: black;
  display: block
}

.color {
	font-family: sans-serif;
	font-size: 20px;
	list-style-type: none;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 10px;
  margin: 0;
  width: 200px;
}

.color li a {
	font-family: sans-serif;
	 border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #ffff;
  padding: 10px;
  text-decoration: none;
  font-size: 15px;
  color: black;
  display: block

}

.filling {
	font-family: sans-serif;
	font-size: 20px;
	list-style-type: none;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 10px;
  margin: 0;
  width: 200px;
}

.filling li a {
	font-family: sans-serif;
	 border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #ffff;
  padding: 10px;
  text-decoration: none;
  font-size: 15px;
  color: black;
  display: block
}

.moreinfo {
	padding-top: 300px;
	padding-left: 30px;
}

.policy {
	outline: none;
	background: none;
	border: none;
	font-size: 15px;
	padding-right: 30px;
}


.terms {
	outline: none;
	background: none;
	border: none;
	font-size: 15px;
	padding-right: 30px;
}


.returns {
	outline: none;
	background: none;
	border: none;
	font-size: 15px;
	padding-right: 30px;
}


.order {
	outline: none;
	background: none;
	border: none;
	font-size: 15px;
	padding-right: 30px;
}


.FAQ {
	outline: none;
	background: none;
	border: none;
	font-size: 15px;
	padding-right: 30px;
}


.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 120px;
  padding-right: 20px;
  width:400;

}






#wrapper {
	margin: 0;
	padding: 0;
}

#popup {
	width: 1024px;
	margin: 0 auto;
	padding: 0;
}

.detailcontainer {
	width: 100%;
	margin-top: 30px;
}

.product {
	width: 235px;
	height: auto;
	position: relative;
	overflow: hidden;
}

.productclose {
	width: 235px;
	height: auto;
	display: block;
}

.quick-view-controller {
	float: left;
	width: 100%;
	position: absolute;
	height: 50px;
	background-color: #666;
	opacity: 0.8;
	bottom: 0px;
}

.quick-view-controller p {
	float: left;
	margin: 7px 0px 7px 22px;
}

.quick-view-controller p a {
	padding: 10px 15px;
	background-color: #FFF;
	float: left;
}

.btn-view {
	color: #222;
}

.overlay {
	background-color: #000;
	height: 10000px;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	display: none;
	z-index: 9998;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

#productdetail {
	display: none;
	background: #fff;
	border: 1px solid #999;
	z-index: 9998;
	position: absolute;
	top: 15%;
	left: 25%;
	min-height: 400px;
	min-width: 720px;
}

.imagegallery {
	  z-index: 9999;
}
/*.productdetail {
	display: none; /* Hidden by default */
/*  position: fixed; /* Stay in place */
/*  z-index: 101;  Sit on top 
  padding-top: 100px;*/ /* Location of the box */
/* left: 0;
  top: 0;
  width: 100%;  Full width 
  height: 100%;*/ /* Full height */
/*  overflow: auto; *//* Enable scroll if needed */
/*  background-color: rgba(0,0,0,0.5);*/
/*  cursor: pointer;*/










