body {
  	background: #F4F4F4;
}

.background {
 	position: relative;
}

.productdetail {
  	position: absolute;
  	width: 600px;
  	height: 65%;
  	background-color: white;
  	color: white;
  	left:300px;
  	bottom: 150px;
  	margin: auto;
}

.pd {
	float: left;
	width: 97px;
	height: 304px;
	overflow: hidden;
	display: block;
	white-space: nowrap;
	position: relative;
	top: 0px;
}

.pd ul {
	display: block;
	top: 0;
}

.pd ul li {
	float: left;
	margin-bottom: 0px; 
	width: 97px;
	height: 100px;
	top: 0;
}

.miniimage {
	z-index: 9999;
}

.imgleft {
	display: inline-block;
	margin: 0 auto;
 	width:200px;
}

.detail-text {
	width: 230px;
	height: 200px;
	display: inline-block;
	bottom: 350px;
	padding-top: 50px;
	padding-right: 50px;
	float: right;
	margin: 0 auto;
}

.productname {
	width: 230px;
	display: inline-block;
	font-family: sans-serif;
	font-size: 15px;
	color: black;	
}

.productprice {
	width: 150px;
	display: inline-block;
	font-family: sans-serif;
	font-size: 15px;
	color: black;	
}

.colorlist {
	width: 150px;
	display: inline-block;
	font-family: sans-serif;
	color: black;
}

#colors {
	width: 63%;
	height: 10%;
	margin-bottom: 20px;
}

.productsize {
	width: 150px;
	display: inline-block;
	font-family: sans-serif;
	font-size: 15px;
	color: black;
	margin-bottom: 30px;
}

.fillinglist {
	width: 150px;
	display: inline-block;
	font-family: sans-serif;
	color: black;
}

#fillings {
	width: 63%;
	height: 10%;
	margin-bottom: 20px;
}

.qtylist {
	width: 150px;
	display: inline-block;
	font-family: sans-serif;
	color: black;
}

#quantity {
	width: 50%;
	height:10%;	
}

.add {
	background: #38B593;
	border: none;
	box-shadow: 2px 2px 2px 2px #787878;
	font-size: 20px;
	padding-right: 20px;
	padding-left: 20px;
	height: 30px;
	color: white;
}

.moreinfo {
	font-family: sans-serif;
	align-content: center;
    display: inline-block;
}

.details {
	color: black;
}

.description {
	color: #787878;
	padding-left: 0px;
	font-size: 11px;
	font-weight:200;
	width: 195px;
}